HolidayReservationSystemWebClient/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAllPartnerReservations">
<part name="parameters" element="tns:retrieveAllPartnerReservations"/>
</message>
<message name="retrieveAllPartnerReservationsResponse">
<part name="parameters" element="tns:retrieveAllPartnerReservationsResponse"/>
</message>
<message name="calculatePenalty">
<part name="parameters" element="tns:calculatePenalty"/>
</message>
<message name="calculatePenaltyResponse">
<part name="parameters" element="tns:calculatePenaltyResponse"/>
</message>
<message name="ReservationRecordNotFoundException">
<part name="fault" element="tns:ReservationRecordNotFoundException"/>
</message>
<message name="calculateTotalCost">
<part name="parameters" element="tns:calculateTotalCost"/>
</message>
<message name="calculateTotalCostResponse">
<part name="parameters" element="tns:calculateTotalCostResponse"/>
</message>
<message name="NoRentalRateAvailableException">
<part name="fault" element="tns:NoRentalRateAvailableException"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="createCreditCard">
<part name="parameters" element="tns:createCreditCard"/>
</message>
<message name="createCreditCardResponse">
<part name="parameters" element="tns:createCreditCardResponse"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="CreditCardExistException">
<part name="fault" element="tns:CreditCardExistException"/>
</message>
<message name="retrieveAllCarCategories">
<part name="parameters" element="tns:retrieveAllCarCategories"/>
</message>
<message name="retrieveAllCarCategoriesResponse">
<part name="parameters" element="tns:retrieveAllCarCategoriesResponse"/>
</message>
<message name="retrieveAllOutlets">
<part name="parameters" element="tns:retrieveAllOutlets"/>
</message>
<message name="retrieveAllOutletsResponse">
<part name="parameters" element="tns:retrieveAllOutletsResponse"/>
</message>
<message name="retrieveAllCarModels">
<part name="parameters" element="tns:retrieveAllCarModels"/>
</message>
<message name="retrieveAllCarModelsResponse">
<part name="parameters" element="tns:retrieveAllCarModelsResponse"/>
</message>
<message name="retrieveReservation">
<part name="parameters" element="tns:retrieveReservation"/>
</message>
<message name="retrieveReservationResponse">
<part name="parameters" element="tns:retrieveReservationResponse"/>
</message>
<message name="createReservation">
<part name="parameters" element="tns:createReservation"/>
</message>
<message name="createReservationResponse">
<part name="parameters" element="tns:createReservationResponse"/>
</message>
<message name="ReservationExistException">
<part name="fault" element="tns:ReservationExistException"/>
</message>
<message name="cancelReservation">
<part name="parameters" element="tns:cancelReservation"/>
</message>
<message name="cancelReservationResponse">
<part name="parameters" element="tns:cancelReservationResponse"/>
</message>
<message name="searchCarByMakeModel">
<part name="parameters" element="tns:searchCarByMakeModel"/>
</message>
<message name="searchCarByMakeModelResponse">
<part name="parameters" element="tns:searchCarByMakeModelResponse"/>
</message>
<message name="OutletIsClosedException">
<part name="fault" element="tns:OutletIsClosedException"/>
</message>
<message name="searchCarByCategory">
<part name="parameters" element="tns:searchCarByCategory"/>
</message>
<message name="searchCarByCategoryResponse">
<part name="parameters" element="tns:searchCarByCategoryResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="retrieveAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllPartnerReservationsRequest" message="tns:retrieveAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllPartnerReservationsResponse" message="tns:retrieveAllPartnerReservationsResponse"/>
</operation>
<operation name="calculatePenalty">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/calculatePenaltyRequest" message="tns:calculatePenalty"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/calculatePenaltyResponse" message="tns:calculatePenaltyResponse"/>
<fault message="tns:ReservationRecordNotFoundException" name="ReservationRecordNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/calculatePenalty/Fault/ReservationRecordNotFoundException"/>
</operation>
<operation name="calculateTotalCost">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/calculateTotalCostRequest" message="tns:calculateTotalCost"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/calculateTotalCostResponse" message="tns:calculateTotalCostResponse"/>
<fault message="tns:NoRentalRateAvailableException" name="NoRentalRateAvailableException" wsam:Action="http://ws.session.ejb/PartnerWebService/calculateTotalCost/Fault/NoRentalRateAvailableException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="createCreditCard">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/createCreditCardRequest" message="tns:createCreditCard"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/createCreditCardResponse" message="tns:createCreditCardResponse"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerWebService/createCreditCard/Fault/InputDataValidationException"/>
<fault message="tns:CreditCardExistException" name="CreditCardExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/createCreditCard/Fault/CreditCardExistException"/>
</operation>
<operation name="retrieveAllCarCategories">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllCarCategoriesRequest" message="tns:retrieveAllCarCategories"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllCarCategoriesResponse" message="tns:retrieveAllCarCategoriesResponse"/>
</operation>
<operation name="retrieveAllOutlets">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllOutletsRequest" message="tns:retrieveAllOutlets"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllOutletsResponse" message="tns:retrieveAllOutletsResponse"/>
</operation>
<operation name="retrieveAllCarModels">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllCarModelsRequest" message="tns:retrieveAllCarModels"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllCarModelsResponse" message="tns:retrieveAllCarModelsResponse"/>
</operation>
<operation name="retrieveReservation">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationRequest" message="tns:retrieveReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservationResponse" message="tns:retrieveReservationResponse"/>
<fault message="tns:ReservationRecordNotFoundException" name="ReservationRecordNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveReservation/Fault/ReservationRecordNotFoundException"/>
</operation>
<operation name="createReservation">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/createReservationRequest" message="tns:createReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/createReservationResponse" message="tns:createReservationResponse"/>
<fault message="tns:ReservationExistException" name="ReservationExistException" wsam:Action="http://ws.session.ejb/PartnerWebService/createReservation/Fault/ReservationExistException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerWebService/createReservation/Fault/InputDataValidationException"/>
</operation>
<operation name="cancelReservation">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/cancelReservationRequest" message="tns:cancelReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/cancelReservationResponse" message="tns:cancelReservationResponse"/>
<fault message="tns:ReservationRecordNotFoundException" name="ReservationRecordNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/cancelReservation/Fault/ReservationRecordNotFoundException"/>
</operation>
<operation name="searchCarByMakeModel">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByMakeModelRequest" message="tns:searchCarByMakeModel"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByMakeModelResponse" message="tns:searchCarByMakeModelResponse"/>
<fault message="tns:OutletIsClosedException" name="OutletIsClosedException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByMakeModel/Fault/OutletIsClosedException"/>
</operation>
<operation name="searchCarByCategory">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByCategoryRequest" message="tns:searchCarByCategory"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByCategoryResponse" message="tns:searchCarByCategoryResponse"/>
<fault message="tns:OutletIsClosedException" name="OutletIsClosedException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchCarByCategory/Fault/OutletIsClosedException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculatePenalty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationRecordNotFoundException">
<soap:fault name="ReservationRecordNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="calculateTotalCost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoRentalRateAvailableException">
<soap:fault name="NoRentalRateAvailableException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="createCreditCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="CreditCardExistException">
<soap:fault name="CreditCardExistException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllCarCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllOutlets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllCarModels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationRecordNotFoundException">
<soap:fault name="ReservationRecordNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationExistException">
<soap:fault name="ReservationExistException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="cancelReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationRecordNotFoundException">
<soap:fault name="ReservationRecordNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchCarByMakeModel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletIsClosedException">
<soap:fault name="OutletIsClosedException" use="literal"/>
</fault>
</operation>
<operation name="searchCarByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletIsClosedException">
<soap:fault name="OutletIsClosedException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>