HolidayReservationSystemWebClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="CreditCardExistException" type="tns:CreditCardExistException"/>

<xs:element name="CustomerExistException" type="tns:CustomerExistException"/>

<xs:element name="InputDataValidationException" type="tns:InputDataValidationException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="NoRentalRateAvailableException" type="tns:NoRentalRateAvailableException"/>

<xs:element name="OutletIsClosedException" type="tns:OutletIsClosedException"/>

<xs:element name="ReservationExistException" type="tns:ReservationExistException"/>

<xs:element name="ReservationRecordNotFoundException" type="tns:ReservationRecordNotFoundException"/>

<xs:element name="calculatePenalty" type="tns:calculatePenalty"/>

<xs:element name="calculatePenaltyResponse" type="tns:calculatePenaltyResponse"/>

<xs:element name="calculateTotalCost" type="tns:calculateTotalCost"/>

<xs:element name="calculateTotalCostResponse" type="tns:calculateTotalCostResponse"/>

<xs:element name="cancelReservation" type="tns:cancelReservation"/>

<xs:element name="cancelReservationResponse" type="tns:cancelReservationResponse"/>

<xs:element name="createCreditCard" type="tns:createCreditCard"/>

<xs:element name="createCreditCardResponse" type="tns:createCreditCardResponse"/>

<xs:element name="createCustomer" type="tns:createCustomer"/>

<xs:element name="createCustomerResponse" type="tns:createCustomerResponse"/>

<xs:element name="createReservation" type="tns:createReservation"/>

<xs:element name="createReservationResponse" type="tns:createReservationResponse"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="retrieveAllCarCategories" type="tns:retrieveAllCarCategories"/>

<xs:element name="retrieveAllCarCategoriesResponse" type="tns:retrieveAllCarCategoriesResponse"/>

<xs:element name="retrieveAllCarModels" type="tns:retrieveAllCarModels"/>

<xs:element name="retrieveAllCarModelsResponse" type="tns:retrieveAllCarModelsResponse"/>

<xs:element name="retrieveAllOutlets" type="tns:retrieveAllOutlets"/>

<xs:element name="retrieveAllOutletsResponse" type="tns:retrieveAllOutletsResponse"/>

<xs:element name="retrieveAllPartnerReservations" type="tns:retrieveAllPartnerReservations"/>

<xs:element name="retrieveAllPartnerReservationsResponse" type="tns:retrieveAllPartnerReservationsResponse"/>

<xs:element name="retrieveReservation" type="tns:retrieveReservation"/>

<xs:element name="retrieveReservationResponse" type="tns:retrieveReservationResponse"/>

<xs:element name="searchCar" type="tns:searchCar"/>

<xs:element name="searchCarByCategory" type="tns:searchCarByCategory"/>

<xs:element name="searchCarByCategoryResponse" type="tns:searchCarByCategoryResponse"/>

<xs:element name="searchCarByMakeModel" type="tns:searchCarByMakeModel"/>

<xs:element name="searchCarByMakeModelResponse" type="tns:searchCarByMakeModelResponse"/>

<xs:element name="searchCarResponse" type="tns:searchCarResponse"/>

<xs:complexType name="cancelReservation">
<xs:sequence>
<xs:element name="reservationId" type="xs:long"/>
<xs:element name="refund" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelReservationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ReservationRecordNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByCategory">
<xs:sequence>
<xs:element name="categoryId" type="xs:long"/>
<xs:element name="pickUpDateTime" type="xs:string" minOccurs="0"/>
<xs:element name="returnDateTime" type="xs:string" minOccurs="0"/>
<xs:element name="pickupOutletId" type="xs:long"/>
<xs:element name="returnOutletId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OutletIsClosedException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllPartnerReservations">
<xs:sequence>
<xs:element name="partnerId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllPartnerReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="cancelled" type="xs:boolean"/>
<xs:element name="car" type="tns:car" minOccurs="0"/>
<xs:element name="carCategory" type="tns:carCategory" minOccurs="0"/>
<xs:element name="carModel" type="tns:carModel" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="departureOutlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="destinationOutlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="paid" type="xs:boolean"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="pickupTime" type="tns:localDateTime" minOccurs="0"/>
<xs:element name="price" type="xs:decimal" minOccurs="0"/>
<xs:element name="refundAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="rentalRateList" type="tns:rentalRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="returnTime" type="tns:localDateTime" minOccurs="0"/>
<xs:element name="transitDriverDispatch" type="tns:transitDriverDispatch" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="car">
<xs:sequence>
<xs:element name="carId" type="xs:long" minOccurs="0"/>
<xs:element name="carStatus" type="tns:carStatusEnum" minOccurs="0"/>
<xs:element name="color" type="xs:string" minOccurs="0"/>
<xs:element name="currentOutlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="enabled" type="xs:boolean"/>
<xs:element name="licensePlateNum" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="tns:carModel" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
<xs:element name="reservationList" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="transitDriverDispatchRecord" type="tns:transitDriverDispatch" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outlet">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="carList" type="tns:car" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="closingTime" type="tns:localTime" minOccurs="0"/>
<xs:element name="employeeList" type="tns:employee" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="inboundTransitDriverDispatchList" type="tns:transitDriverDispatch" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="openingTime" type="tns:localDateTime" minOccurs="0"/>
<xs:element name="outletId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localTime" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="accessRight" type="tns:employeeAccessRightEnum" minOccurs="0"/>
<xs:element name="assignedOutlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="transitDriverDispatchRecord" type="tns:transitDriverDispatch" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transitDriverDispatch">
<xs:sequence>
<xs:element name="car" type="tns:car" minOccurs="0"/>
<xs:element name="destinationOutlet" type="tns:outlet" minOccurs="0"/>
<xs:element name="employee" type="tns:employee" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
<xs:element name="transitDriverDispatchId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localDateTime" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="carModel">
<xs:sequence>
<xs:element name="carCategory" type="tns:carCategory" minOccurs="0"/>
<xs:element name="carList" type="tns:car" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="carModelId" type="xs:long" minOccurs="0"/>
<xs:element name="enabled" type="xs:boolean"/>
<xs:element name="make" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="carCategory">
<xs:sequence>
<xs:element name="carCategoryId" type="xs:long" minOccurs="0"/>
<xs:element name="carCategoryName" type="xs:string" minOccurs="0"/>
<xs:element name="carList" type="tns:car" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="rentalRateList" type="tns:rentalRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentalRate">
<xs:sequence>
<xs:element name="carCategory" type="tns:carCategory" minOccurs="0"/>
<xs:element name="enabled" type="xs:boolean"/>
<xs:element name="endDate" type="tns:localDateTime" minOccurs="0"/>
<xs:element name="rateName" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerDay" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateType" type="tns:rentalRateEnum" minOccurs="0"/>
<xs:element name="rentalRateRecordId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationList" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startDate" type="tns:localDateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
<xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
<xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
<xs:element name="creditCard" type="tns:creditCard" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="reservationList" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditCard">
<xs:sequence>
<xs:element name="ccId" type="xs:long" minOccurs="0"/>
<xs:element name="ccNumber" type="xs:string" minOccurs="0"/>
<xs:element name="cvv" type="xs:string" minOccurs="0"/>
<xs:element name="expiryDate" type="tns:localDate" minOccurs="0"/>
<xs:element name="nameonCC" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localDate" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="customerList" type="tns:customer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservationList" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCar">
<xs:sequence>
<xs:element name="pickUpDateTime" type="xs:string" minOccurs="0"/>
<xs:element name="returnDateTime" type="xs:string" minOccurs="0"/>
<xs:element name="pickupOutletId" type="xs:long"/>
<xs:element name="returnOutletId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateTotalCost">
<xs:sequence>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateTotalCostResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoRentalRateAvailableException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByMakeModel">
<xs:sequence>
<xs:element name="makeModelId" type="xs:long"/>
<xs:element name="pickUpDateTime" type="xs:string" minOccurs="0"/>
<xs:element name="returnDateTime" type="xs:string" minOccurs="0"/>
<xs:element name="pickupOutletId" type="xs:long"/>
<xs:element name="returnOutletId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchCarByMakeModelResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllOutlets">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllOutletsResponse">
<xs:sequence>
<xs:element name="return" type="tns:outlet" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllCarModels">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllCarModelsResponse">
<xs:sequence>
<xs:element name="return" type="tns:carModel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCustomer">
<xs:sequence>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCustomerResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InputDataValidationException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CustomerExistException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveReservation">
<xs:sequence>
<xs:element name="reservationId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createReservation">
<xs:sequence>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationExistException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllCarCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllCarCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:carCategory" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCreditCard">
<xs:sequence>
<xs:element name="creditCard" type="tns:creditCard" minOccurs="0"/>
<xs:element name="customerId" type="xs:long"/>
<xs:element name="expiry" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCreditCardResponse">
<xs:sequence>
<xs:element name="return" type="tns:creditCard" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreditCardExistException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculatePenalty">
<xs:sequence>
<xs:element name="totalCost" type="xs:decimal" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculatePenaltyResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="carStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="REPAIR"/>
<xs:enumeration value="RESERVED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="employeeAccessRightEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="SYSTEMADMINISTRATOR"/>
<xs:enumeration value="CUSTOMERSERVICEEXECUTIVE"/>
<xs:enumeration value="SALESMANAGER"/>
<xs:enumeration value="OPERATIONSMANAGER"/>
<xs:enumeration value="EMPLOYEE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="rentalRateEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="Default"/>
<xs:enumeration value="Peak"/>
<xs:enumeration value="Promotion"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>